h2.settings-header {
  font-size: 18px;
  margin-left: -10px;
  font-weight: 900;
  margin-top: 60px;
}

.custom-classes-renderer {
  white-space: nowrap;
  display: inline-block;
}

.custom-classes-renderer > * {
  margin: 0;
  padding: 0;
  white-space: normal;
}

.custom-classes-renderer > ul,
.custom-classes-renderer > ol {
  padding-inline-start: 24px;
}